<body>
  <div class="container">
    <section class="section_intro">
          <h2>"Cada página en blanco es una invitación a explorar, a soñar y a descubrir las maravillas de tu propio universo...."</h2>
      </section>

      
      <div class="container_principal">
        <div class="container_imagen">
          <img src="/assets/d1.png" clas alt="Imagen 1" />
        </div>
        <div class="container_texto">
          <p>En el corazón de cada día hay historias esperando ser contadas, momentos listos para ser capturados. En nuestro diario web, te invitamos a embarcarte en un viaje único hacia la autenticidad y la conexión. 
              Únete hoy y descubre un mundo de posibilidades a medida que transformas cada día en una obra maestra personal. Tu historia merece ser contada, y nosotros estamos aquí para ayudarte a escribirla. </p>
        </div>
      </div>

      <div class="container_secundario">
        <div class="container_texto">
          <p>Cada día es una hoja en blanco, esperando ser llenada con tus pensamientos y emociones. 
            Inspírate con nuestras sugerencias creativas y desafíos diarios. Únete a la aventura de autodescubrimiento, convirtiendo cada día en una obra maestra única de tu propia creación. </p>
        </div>
        <div class="container_imagen">
          <img src="/assets/fondo-principal.jpg" clas alt="Imagen 1" />
        </div>
        
      </div>
      
              

      <div class="container_imagenes_redondas">
          <div class="column">
            <img src="/assets/40.jfif" clas alt="Imagen 1" />
            <p>Nos encargamos de manter tu informacion diaria</p>
          </div>
          <div class="column">
            <img src="/assets/30.avif" alt="Imagen 2" />
            <p>Guardamos tus recuerdo mas importantes, para nunca olvidarlos </p>
          </div>
          <div class="column">
            <img src="/assets/rosa.png" alt="Imagen 3" />
            <p>Captura tus recuerdos y le damos vida a tus historias</p>
          </div>
      </div>

      <section class="fondo_largo"> 
        <h1>"Los detalles de tu vida son los que marcan la diferencia ..."</h1>
    </section>
      
  </div>
    
</body>